/* Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */

body {
    background-color: #111827;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

/* Calculator */

.calculator {
    width: 380px;
    background-color: #1f2937;
    padding: 25px;
    border-radius: 18px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
}

/* Heading */

.calculator h1 {
    color: white;
    text-align: center;
    margin-bottom: 20px;
    font-size: 2rem;
}

/* Display */

.display {
    margin-bottom: 20px;
}

#display {
    width: 100%;
    height: 80px;
    border: none;
    outline: none;
    border-radius: 12px;
    padding: 15px;
    background-color: #0f172a;
    color: white;
    font-size: 2rem;
    text-align: right;
}

/* Button Layout */

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

/* All Buttons */

.buttons button {
    height: 60px;
    border: none;
    border-radius: 12px;
    font-size: 1.2rem;
    color: white;
    cursor: pointer;
    transition: 0.2s;
}

/* Number Buttons */

.buttons button:not(.function):not(.operator):not(.equal) {
    background-color: #4b5563;
}

.buttons button:not(.function):not(.operator):not(.equal):hover {
    background-color: #5b6676;
}

/* AC DEL % */

.function {
    background-color: #6b7280;
}

.function:hover {
    background-color: #7c8594;
}

/* Operators */

.operator {
    background-color: #8b6b4d;
}

.operator:hover {
    background-color: #9b7b5d;
}

/* Equal */

.equal {
    background-color: #3f6d64;
}

.equal:hover {
    background-color: #4c8177;
}

/* Click Effect */

.buttons button:active {
    transform: scale(0.96);
}

/* Zero Button */

.zero {
    grid-column: span 2;
}

/* Responsive */

@media (max-width:480px) {

    .calculator {
        width: 95%;
        padding: 20px;
    }

    .buttons button {
        height: 55px;
        font-size: 1rem;
    }

    #display {
        font-size: 1.5rem;
    }

}